body, html {
    margin:0 !important;
}

li {
    list-style: none;
    padding-right: 45px;
    margin-top: 32px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-left: 88px;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    padding-bottom: 34px;
}

.titletext {
    padding-top: 37px;
    height: 18px;
    margin-top: 35px;
}

.insta {
    padding-top: 76px;
    margin-right: 88px;
    height: 20px;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 112px;
}

.illustration {
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
}

.text {
    grid-column: 2/2;
    grid-row: 1;
    align-self:center;
    text-align: center;
    font-size: 64px;
    line-height: 76.8px;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-family: 'Overpass Mono', monospace;
}

button {
    background-color: black;
    color: white;
    width:212px;
    height:61px;
    border-radius: 5%;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

.Welcome {
    display:flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Overpass Mono', monospace;
    line-height: 43.2px;
    font-weight: 700;
    font-size: 36px;
}

.line {
    text-align: center;
}

.description {
    margin:auto;
}

.descriptiontext {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 100px;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.text2 {
    grid-column: 2/2;
    grid-row: 1;
    background-color: black;
    color: white;
    display: flex;
}

.illustration2 {
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
}

.speech {
    margin: auto;
     font-family: 'Overpass', sans-serif;
     text-align: center;
     vertical-align: center;
     font-size: 24px;
     line-height: 36px;
}

.abouttext {
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
}
.about {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#reveal1 {
    opacity:0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

#reveal1.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.description2 {
    text-align: center;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 142px;
}

.explore {
    position: absolute;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28.8px;
    padding-top: 5px ;
}

.quotes {
    padding-top: 112px;
    padding-bottom: 48px;
    text-align: center;
}

.food {
    display: flex;
    width: 834px;
}

.foodtext {
    font-family: 'Overpass', sans-serif;
    font-family: 'Overpass Mono', monospace;
    font-size: 32px;
    line-height: 48px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.author {
    font-size: 16px;
    font-weight: 700;
}

.rectangles {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 112px;
}

.section4 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.imgwrapper {
    grid-column: 1/2;
    grid-row:1;
}

.textwrapper {
    grid-column: 2/2;
    grid-row: 1;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section4bis {
    font-family: 'Overpass', sans-serif;
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

.section4_text {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.btn {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 28.8px;
    font-weight:700;
    align-self:center;
}

.community {
    display: flex;
    justify-content: center;
}

.line2 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.explain {
   margin: auto;
   text-align: center;
   padding-bottom: 112px;
}

.explaintext {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.visit {
    opacity: 50%;
}

.section5 {
    display: flex;
    justify-content: center;
    height:  552px;
    background-color: #f9f9f9;
}

.section5img {
    padding-top: 56px;
    padding-bottom: 56px;
    padding-right: 132px;
} 

.section5bis {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section5bistitle {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

.line5 {
    display: flex;
    justify-content: start;
}

.section5text {
    padding-top: 40px;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.wrapper {
    display: flex; 
}

.icon {
    height:18px;
    padding-top: 20px;
    padding-right: 15px;
}

footer {
    padding-top: 48px;
    padding-bottom: 48px;
    color: #000000;
    opacity: 50%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}